* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #555;
  font-weight: 400;
  font-size: 80%;
}

/* ----- HEADINGS ----- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  font-size: 150%;
  word-spacing: 4px;
  letter-spacing: 1px;
  padding-top: 1%;
}

p {
  font-weight: 400;
  font-size: 80%;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: #555;
}

span {
  font-weight: 400;
  font-size: 80%;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: #555;
}

header {
  margin-bottom: 30px;
}

input[type="text"],
select {
  display: inline;
  text-align: right;
  width: 75%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

select {
  width: 50%;
  height: 50px;
}

input[type="checkbox"] {
  width: 25px;
  height: 27px;
  opacity: 0.2;
}

ul {
  list-style: none;
}

button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.title {
  border-top: 1px solid #cccccc;
  border-bottom: 5px solid #cccccc;
  margin: 20px 0;
  float: left;
}

.box {
  border-bottom: 1px solid #cccccc;
  width: 100%;
  padding: 20px 0;
  float: left;
}

.box:last-child {
  border-bottom: none;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.col-sm-6 img {
  padding-right: 10%;
}

.action-section {
  margin-top: 100px;
}

.action-section div {
  border-right: 1px solid #ccc;
  display: inline;
  padding: 0 6%;
  font-size: 75%;
  cursor: pointer;
}

.action-section div:first-child {
  padding-left: 0;
}

.action-section div:last-child {
  border-right: none;
}

.action-section span {
  font-size: 130%;
}

.mobile-view {
  display: none;
}

img {
  width: 100%;
  max-width: 500px;
}

.img {
  height: 200px;
}

.title {
  padding: 15px 0;
  border-top: 1px solid #ccc;
  border-bottom: 5px solid #ccc;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: 500;
}

/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > .col-12 > .col-6:first-child {
  border-top: 5px solid #ccc;
}

.modal-content li {
  margin: 20px 0;
}

.modal-content li select {
  width: 20%;
  display: inline;
}

.modal__price span {
  font-weight: 600;
  font-size: 200%;
}

.square__black {
  font-size: 90%;
  padding-left: 20px;
  background: rgb(10, 10, 10);
  margin: 5px;
}
.square__blue {
  font-size: 90%;
  padding-left: 20px;
  background: rgb(3, 20, 248);
  margin: 5px;
}

.square__pink {
  font-size: 90%;
  padding-left: 20px;
  background: rgb(248, 72, 190);
  margin: 5px;
}

.square__hover :hover {
  -webkit-box-shadow: 0 0 4px rgb(7, 7, 7);
  box-shadow: 0 0 4px rgb(7, 7, 7);
}

/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 480px) {
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .action-section {
    margin-top: 10px;
  }
  .mobile-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
  input[type="text"] {
    width: 12%;
  }
  header h1 {
    font-size: 80%;
    font-weight: 600;
    margin: 10px 0;
  }
  .item-count {
    padding-bottom: 10px;
    border-bottom: 5px solid #ccc;
  }
  .item-count p {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .modal-content li select {
    width: 48%;
  }
}
