html {
  font-family: sans-serif;
}
body {
  margin: 0 auto;
  width: 600px;
  border: 10px solid blue;
}
.parentDiv {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
            justify-content: space-around; */
}
.header {
  flex: 90%;
  padding: 5%;
  border: 10px solid black;
}

.row1 {
  flex: 33%;
  line-height: 30px;
  border: 2px solid grey;
}
.row2 {
  flex: 20%;
  line-height: 30px;
  border: 2px solid grey;
}
h1 {
  float: right;
}
h2 {
  text-align: center;
}
