
*{
    margin: 0;
    padding: 0;
}
body {
    height: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
background-color: black;
color: white;
padding: 2px;
position: sticky;
top: 0;
left: 0;
overflow: auto;
}
nav li {
float: left;
width: 20%;
}
li a {
line-height: 30px;
color: white;
height: 30px;
}
.logo {
height: auto;
padding: 2% 0 2% 10%;
font-size: 32px;
}
article {
  width: 60%;
  margin-left: 10%;
  float: left;
}
aside {
width: 20%;
margin-right: 10%;
float: right;
}
aside h2 {
  padding-left: 10%; 
}
img {
  width: 20%;
  height: 20%;
  float: left;
  margin: 10px; 
}
li img {
  width: 46%;
  height: 46%;
  float: left;
  margin: 1%;
}