* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: linear-gradient(lightblue, white);
  font-size: 150%;
}
nav {
  background-color: black;
  color: white;
  padding: 2px;
  position: sticky;
  top: 0;
  left: 0;
  overflow: auto;
}
nav li {
  float: left;
  width: 20%;
}
li a {
  line-height: 30px;
  color: white;
}
.logo {
  height: auto;
  padding: 2% 0 2% 10%;
  font-size: 200%;
}
article {
  width: 60%;
  margin-left: 10%;
  float: left;
}
aside {
  width: 20%;
  margin-right: 10%;
  float: right;
  box-shadow: 5px 0 #000000;
}
aside h2 {
  padding-left: 10%;
}
img {
  max-width: 20%;
  float: left;
  margin: 10px;
}
li img {
  max-width: 46%;
  float: left;
  margin: 1%;
}
main {
  overflow: auto;
}
